{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "en/base.twig" %}

{% block pageContent %}
	<div class="wrapper style1">
		<section id="main" class="container">
			<div class="box">
				<h2>About IncipitSearch</h2>
				<p>IncipitSearch is a search engine for music-incipits. Incipts are a pragmatic approach for the cataloguing of notated music, in which a few bars of a score are transcribed. Concurrently, statements about the melodic characteristics of the music can occasionally be made on basis of these short fragments. Still, the IncipitSearch considers itself primarily as a counterpart to conventional thematic-bibliographical catalogues, as they have been presented in printed form for a long time. </p>
				<p>You can find a list of the repositories which are searchable with the IncipitSearch  <a href="{{ path_for('repositories') }}">here</a>. In the long run, <a href="{{ path_for('participation') }}">the connection of further repositories </a> can enable a comprehensive search for musical material from sources, catalogues and editions.</p>

				<h3>Search</h3>
				<p>The displayed keyboard enables you to enter search queries in the search field.
					<a href="http://www.iaml.info/plaine-easie-code" title="Plaine & Easie Code" target="_blank">
						Plaine & Easie Code</a>
					is used as a standard syntax for the coding of the notes and can also be directly entered in the search field. Next to the found incipts, the result list also provides backlinks to the entries in the respective catalogue.</p>

				<h3>Material and presentations</h3>
				<p>

				</p>
				<p>
					<strong>We will present IncipitSearch at <a href="https://www.conftool.pro/dh2018/index.php?page=browseSessions&form_session=311#paperID341">DH 2018 in Mexico City!</a></strong>
					<strong>In July we will present IncipitSearch in a talk and poster at the congress of the
						International Association of Music Libraries, Archives and Documentation Centres
						<a href="http://iaml2018.info/programme/">IAML</a> in Leipzig!
					</strong>
				</p>

				<h4>Talks and Presentations</h4>
				<ul>
					<li>01.03.2018 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch - Vernetzung musikwissenschaftlicher Vorhaben, <a href="https://zenodo.org/record/1182430">Poster</a>, DHd2018 Köln</li>
					<li>05.12.2017 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch Demo, <a href="https://www.uibk.ac.at/congress/dha2017/programme/">Tools Gallery</a>, Digital Humanities Austria Konferenz, Innsbruck.</li>
					<li>18.10.2017 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch. Ein offener Webservice zur Aggregation und Suche notierter Musik, <a href="https://digicademy.github.io/2017-AGeHumanities/incipitSearch/index.html#/step-1">Vortrag</a>, AG eHumanities, Akademie der Wissenschaften und der Literatur | Mainz.</li>
					<li>28.09.2017 | Anna Neovesky, Frederic von Vlahovits: Perspektiven digitaler Werkverzeichnisse: IncipitSearch am Beispiel der Gluck Gesamtausgabe, <a href="https://github.com/digicademy/incipitSearch/blob/master/htdocs/public/publications/GfM2017-Poster_Incipit_Neovesky_vonVlahovits.pdf">Poster</a>, Jahrestagung der Gesellschaft für Musikforschung 2017, Kassel.</li>
					<li>21.09.2017 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch am Beispiel der Gluck-Gesamtausgabe - Poster, DH-RMU, Digital Humanities im Rhein-Main-Verbund 2017, Mainz.</li>
					<li>14.09.2016 | Michael Haft, Anna Neovesky, Gabriel Reimers: Digitale Nachhaltigkeit von Forschungsanwendungen durch Microservices, <a href="https://www.fdm.uni-hamburg.de/en/ueber-uns/a-nachrichten/aktivitaeten/forge16/praesentationen.html">Vortrag</a>, FORGE 2016, Hamburg.</li>
				</ul>

				<h4>Publications</h4>

				<p>
					Anna Neovesky: ...und was machen wir nun mit den Daten?
					Nutzungsszenarien und deren Voraussetzungen am Beispiel von Akademievorhaben. in:
					Beitragsarchiv zur des Internationalen Kongresses der Gesellschaft für Musikforschung, Mainz 2016 –
					»Wege der Musikwissenschaft«, hrsg. von Gabriele Buschmeier und Klaus Pietschmann [erscheint 2018].
					Preprint: <a href="10.5281/zenodo.1175632">DOI:10.5281/zenodo.1175633</a>.</p>
				<p>Michael Haft, Anna Neovesky, Gabriel Reimers: Digitale Nachhaltigkeit von Forschungsanwendungen durch Microservices, in: Jenseits der Daten –
					Nachhaltigkeit für Forschungsanwendungen und Software.
					<a href="https://www.fdm.uni-hamburg.de/en/ueber-uns/a-nachrichten/aktivitaeten/forge16/praesentationen/programmheft.pdf#page=23">FORGE 2016 Book of Abstracts, S. 23–24</a>.</p>


				<h3>License</h3>
				<p>IncipitSearch is developed by the <a href="http://www.digitale-akademie.de/" title="Digitale Akademie" target="_blank">Digital Academy</a> of the
					<a href="http://www.adwmainz.de" title="Akademie der Wissenschaften und der Literatur | Mainz" target="_blank">Academy of Sciences and Literature | Mainz</a> and is licensed under a <a href="https://github.com/digicademy/incipitSearch/commit/35bf0f3f1e4cd1338d21496a02daeba7e23201fb">MIT license</a>.</p>

				<h3>Project team</h3>
				<p>
					<a href="http://www.adwmainz.de/mitarbeiter/profil/anna-neovesky.html">Anna Neovesky, M.A.</a> (idea, concept, application development, data processing)<br>
					Dipl.-Inf. Gabriel Reimers (idea, concept, application development)<br>
					<a href="orcid.org/0000-0002-8111-6405">Frederic von Vlahovits, M.A.</a> (frontend-development, design, application development)<br>
					<a href="http://www.adwmainz.de/mitarbeiter/profil/prof-torsten-schrade.html">Prof. Torsten Schrade</a> (metadata schema, LOD, DevOps)
				</p>

				<h3>Assisted by</h3>
				<p>
					Paulina Amelung (english translation)<br>
					Julia Dolhoff (code standardisation)<br>
					Lisa Kolodzie (proof-of-Concept annotation of analogue repositories)<br>
					Sebastian Lange (code standardisation)<br>
					Patrick Toschka (code standardisation)<br>
				</p>
			</div>
		</section>
	</div>
{% endblock %} {# end pageContent #}