/* header */

header {
  font-family: "Lato", sans-serif;
}

header a {
  text-decoration: none;
}

header h1 {
	display: inline-block;
	font-size: 2em;
	margin-bottom: 0.4em;
}
@media (min-width: 550px) {
	header h1 {
		font-size: 5.0rem;
	}
}

/* footer */

footer {
  padding: 2em 0;
}

footer a {
  text-decoration: none;
}

footer .fa {
  margin-right: 0.3em;
}
footer p {
    margin: 0 auto;
    width: 16em;
}

@media (min-width: 646px) {
	footer p {
		margin: 0.3em 0;
		width: auto;
	}
}

@media (min-width: 1093px) {
	footer p {
	  margin: 0.5em 0;
	}
}


/* nav */

#nav {
	display: none;
}

nav#nav>ul {
	list-style: none;
	border-bottom: solid 1px #dcdcdc;
}

nav#nav>ul>li {
	border-top: solid 1px #dcdcdc;
	margin: 0;
}
nav#nav>ul>li>a {
	display: block;
	text-align: center;
	padding: 0.5em;
}
#nav-button {
	float: right;
	font-size: 1.5em;
	color: #333;
	padding-top: 0.2em;
	line-height: 1.2;
	cursor: pointer;
}

@media (min-width: 550px) {
	#nav {
		display: inline;
	}
	nav#nav>ul, nav#nav>ul>li {
		border: none;
	}
	nav#nav {
		float: right;
	}
	nav#nav>ul>li>a {
		display: inline;
		text-align: left;
		padding: 0;
	}
	nav#nav>ul>li {
		display: inline-block;
		float: left;
		padding: 2em 0 0 2em;
	}
	#nav-button {
		display: none;
	}
}


/* svgNotesContainer */
#svgNotesContainer {
	height: 126px;
}

/* img */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* logo */
.logo {
  height: 10em;
	margin: 0 auto;
}

@media (min-width: 646px) {
	.logo {
		float: right;
	}
}

/* adress */
.adress {
	margin: 2em auto;
}
@media (min-width: 550px) {
	.adress {
		margin: 0;
		padding: 0 1em;
	}
}
@media (min-width: 1093px) {
	.adress {
	  padding: 0.5em 1em;
	}
}

/* general */
.hidden {
  display: none;
}

.center {
  display: block;
  text-align: center;
}

.container {
  margin-top: 40px;
}


/* We override this Skeleton style because it breaks
   SVG display in Firefox */

svg:not(:root) {
  overflow: visible;
  /* Skeleton defines hidden */
}
