<!-- Verovio plugin to be used in result list-->

<script type="text/javascript">

    $(document).ready(function () {
        var vrvToolkit = new verovio.toolkit();

        $('.result').each(function (i, domResult) {
            var result = $(domResult);
            var incipit = result.find('.incipit').text();

            var data = "@clef:" + result.find('.incipitClef').text() + "\n";
            data += "@keysig:" + result.find('.incipitAccidentals').text() + "\n";
            data += "@timesig:" + result.find('.incipitTime').text() + "\n";
            data += "@data:" + result.find('.incipitNotes').text();
            //console.log("incipit data " + data);

            var containerWidth = $(".container").width();
            var scale = 40;
            if (containerWidth < 500) {
                scale = 15;
            }
            //the output will be pageWidth * scale/100
            //to get constant size we multiply with the inverse
            var pageWidth = containerWidth * (100 / scale)

            var options = {
                inputFormat: 'pae',
                pageHeight: 500,
                pageWidth: pageWidth,
                breaks: 'none',
                scale: 40,
                adjustPageHeight: 1
            };

            var notesSVG = vrvToolkit.renderData(data, options);
            var svgContainerDiv = result.find('.incipitSVG');
            svgContainerDiv.html(notesSVG);

        });//end for each result

        $('.incipitSVG > svg').incipitScroll();

    });//end doc ready

</script>
