{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends 'de/base.twig' %}

{% block pageContent %}
<div class="wrapper style1">
	<section id="main" class="container">
		<div class="box">
			<h2>Über IncipitSearch</h2>
				<p>IncipitSearch ist eine Suchmaschine für Musik-Incipits, mit der aktuell über 850 000 Einträge in drei Musikkatalogen und Musikeditionen durchsucht werden können.
					Bei Incipits handelt es sich um einen pragmatischen Ansatz zur Katalogisierung
					von notierter Musik, indem jeweils wenige Takte einer Partitur transkribiert werden.
					Gleichzeitig lassen sich bisweilen auch Aussagen über melodische Charakteristika der
					Musik anhand dieser kurzen Bruchstücke treffen. In erster Linie versteht sich IncipitSearch
					jedoch als ein Pendant zu konventionellen thematisch-bibliographischen Katalogen und Werkverzeichnissen,
					wie sie in gedruckter Form schon seit langem vorgelegt werden.</p>
			<p>Eine Auflistung der mit IncipitSearch durchsuchbaren Repositorien finden Sie <a href="{{ path_for('repositories', {'langkey' : 'de'}) }}">hier</a>. Langfristig kann die <a href="{{ path_for('participation', {'langkey' : 'de'}) }}">Anbindung weiterer Repositorien</a> eine übergreifende Suche nach Notenmaterial aus Quellen,
					Werkverzeichnissen und Editionen ermöglichen.</p>

			<h3>Suche</h3>
				<p>Mittels der angezeigten Bildschirm-Klaviatur können Suchabfragen in das Suchfeld eingegeben werden. <a
							href="http://www.iaml.info/plaine-easie-code" title="Plaine & Easie Code" target="_blank">Plaine & Easie Code</a> kommt als Standardsyntax zur Notenkodierung zum Einsatz und kann auch direkt in das Suchfeld eingegeben werden. Die Ergebnisliste liefert neben den gefundenen Incipits auch verlinkte Rückverweise zu den  Einträgen im jeweiligen Werkverzeichnis.</p>

			<h3>Materialien und Präsentationen</h3>
			<p>

			</p>
			<p>
				<strong>Im Juli stellen wir IncipitSearch mit einem Vortrag und einem Poster beim
					Kongress der International Association of Music Libraries, Archives and Documentation Centres
					<a href="http://iaml2018.info/programme/">IAML</a> in Leipzig vor!
				</strong>
			</p>

			<h4>Vorträge und Präsentationen</h4>

			<ul>
				<li>01.03.2018 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch - Vernetzung musikwissenschaftlicher Vorhaben, <a href="https://zenodo.org/record/1182430">Poster</a>, DHd2018 Köln</li>
				<li>05.12.2017 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch Demo, <a href="https://www.uibk.ac.at/congress/dha2017/programme/">Tools Gallery</a>, Digital Humanities Austria Konferenz, Innsbruck.</li>
				<li>18.10.2017 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch. Ein offener Webservice zur Aggregation und Suche notierter Musik, <a href="https://digicademy.github.io/2017-AGeHumanities/incipitSearch/index.html#/step-1">Vortrag</a>, AG eHumanities, Akademie der Wissenschaften und der Literatur | Mainz.</li>
				<li>28.09.2017 | Anna Neovesky, Frederic von Vlahovits: Perspektiven digitaler Werkverzeichnisse: IncipitSearch am Beispiel der Gluck Gesamtausgabe, <a href="https://github.com/digicademy/incipitSearch/blob/master/htdocs/public/publications/GfM2017-Poster_Incipit_Neovesky_vonVlahovits.pdf">Poster</a>, Jahrestagung der Gesellschaft für Musikforschung 2017, Kassel.</li>
				<li>21.09.2017 | Anna Neovesky, Frederic von Vlahovits: IncipitSearch am Beispiel der Gluck-Gesamtausgabe - Poster, DH-RMU, Digital Humanities im Rhein-Main-Verbund 2017, Mainz.</li>
				<li>14.09.2016 | Michael Haft, Anna Neovesky, Gabriel Reimers: Digitale Nachhaltigkeit von Forschungsanwendungen durch Microservices, <a href="https://www.fdm.uni-hamburg.de/en/ueber-uns/a-nachrichten/aktivitaeten/forge16/praesentationen.html">Vortrag</a>, FORGE 2016, Hamburg.</li>
			</ul>

			<h4>Publikationen</h4>

			<p>
			Anna Neovesky: ...und was machen wir nun mit den Daten?
			Nutzungsszenarien und deren Voraussetzungen am Beispiel von Akademievorhaben. in:
			Beitragsarchiv zur des Internationalen Kongresses der Gesellschaft für Musikforschung, Mainz 2016 –
			»Wege der Musikwissenschaft«, hrsg. von Gabriele Buschmeier und Klaus Pietschmann [erscheint 2018].
			Preprint: <a href="10.5281/zenodo.1175632">DOI:10.5281/zenodo.1175633</a>.</p>
			<p>Michael Haft, Anna Neovesky, Gabriel Reimers: Digitale Nachhaltigkeit von Forschungsanwendungen durch Microservices, in: Jenseits der Daten –
			Nachhaltigkeit für Forschungsanwendungen und Software.
				<a href="https://www.fdm.uni-hamburg.de/en/ueber-uns/a-nachrichten/aktivitaeten/forge16/praesentationen/programmheft.pdf#page=23">FORGE 2016 Book of Abstracts, S. 23–24</a>.</p>


			<h3>Lizenz</h3>
				<p>IncipitSearch wird an der <a href="http://www.digitale-akademie.de/" title="Digitale Akademie" target="_blank">Digitalen Akademie</a> der
					<a href="http://www.adwmainz.de" title="Akademie der Wissenschaften und der Literatur | Mainz" target="_blank">Akademie der Wissenschaften und der Literatur | Mainz</a> entwickelt und steht unter der <a href="https://github.com/digicademy/incipitSearch/commit/35bf0f3f1e4cd1338d21496a02daeba7e23201fb">MIT Lizenz</a>.</p>

			<h3>Beteiligte</h3>
			<p>
			<a href="http://www.adwmainz.de/mitarbeiter/profil/anna-neovesky.html">Anna Neovesky, M.A.</a> (Idee, Konzept, Anwendungssentwicklung, Datenverarbeitung)<br>
			Dipl.-Inf. Gabriel Reimers (Idee, Konzept, Anwendungssentwicklung)<br>
			<a href="orcid.org/0000-0002-8111-6405">Frederic von Vlahovits, M.A.</a> (Frontend-Entwicklung, Design, Anwendunsgentwicklung)<br>
			<a href="http://www.adwmainz.de/mitarbeiter/profil/prof-torsten-schrade.html">Prof. Torsten Schrade</a> (Metadatenschema, LOD, DevOps)<br>
			</p>
		</div>
	</section>
</div>
{% endblock %} {# end pageContent #}