{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block pageContent %}
<div class="wrapper style1">
	<section id="main" class="container">
		<div class="box">
			<h2>Über IncipitSearch</h2>
				<p>IncipitSearch ist eine Suchmaschine für Musik-Incipits.
					Bei Incipits handelt es sich um einen pragmatischen Ansatz zur Katalogisierung
					von notierter Musik, indem jeweils wenige Takte einer Partitur transkribiert werden.
					Gleichzeitig lassen sich bisweilen auch Aussagen über melodische Charakteristika der
					Musik anhand dieser kurzen Bruchstücke treffen. In erster Linie versteht sich IncipitSearch
					jedoch als ein Pendant zu konventionellen thematisch-bibliographischen Katalogen und Werkverzeichnissen,
					wie sie in gedruckter Form schon seit langem vorgelegt werden.</p>
			<p>Eine Auflistung der mit IncipitSearch durchsuchbaren Repositorien finden Sie <a href="{{ path_for('repositories') }}">hier</a>. Langfristig kann die <a href="{{ path_for('participation') }}">Anbindung weiterer Repositorien</a> eine übergreifende Suche nach Notenmaterial aus Quellen,
					Werkverzeichnissen und Editionen ermöglichen.</p>

			<h3>Suche</h3>
				<p>Mittels der angezeigten Bildschirm-Klaviatur können Suchabfragen in das Suchfeld eingegeben werden. <a
							href="http://www.iaml.info/plaine-easie-code" title="Plaine & Easie Code" target="_blank">Plaine & Easie Code</a> kommt als Standardsyntax zur Notenkodierung zum Einsatz und kann auch direkt in das Suchfeld eingegeben werden. Die Ergebnisliste liefert neben den gefundenen Incipits auch verlinkte Rückverweise zu den  Einträgen im jeweiligen Werkverzeichnis.</p>

			<h3>Materialien und Präsentationen</h3>
			<p>
				<strong>Am 1.3.2017 stellen wir IncipitSearch bei
				der <a href="http://dhd2018.uni-koeln.de/programm-donnerstag/"> Postersession der DHd2018</a> in Köln vor!
				</strong>
			</p>

			<ul>
				<li>Anna Neovesky, Frederic von Vlahovits: Demo, <a href="https://www.uibk.ac.at/congress/dha2017/programme/">Tools Gallery</a>, Digital Humanities Austria Konferenz, 5.12.2017, Innsbruck.</li>
				<li>Anna Neovesky, Frederic von Vlahovits: <a href="https://digicademy.github.io/2017-AGeHumanities/incipitSearch/index.html#/step-1">IncipitSearch. Ein offener Webservice zur Aggregation und Suche notierter Musik</a> - Vortrag, AG eHumanities, 18.10.2017, Akademie der Wissenschaften und der Literatur | Mainz.</li>
				<li>Anna Neovesky, Frederic von Vlahovits: <a href="https://github.com/digicademy/incipitSearch/blob/master/htdocs/public/publications/GfM2017-Poster_Incipit_Neovesky_vonVlahovits.pdf">IncipitSearch - ein offener Webservice zur Aggregation und Suche notierter Musik</a> - Poster, Jahrestagung der Gesellschaft für Musikforschung 2017, Kassel.</li>
				<li>Anna Neovesky, Frederic von Vlahovits: IncipitSearch am Beispiel der Gluck-Gesamtausgabe - Poster, DH-RMU, Digital Humanities im Rhein-Main-Verbund 2017, Mainz.</li>
				<li>Michael Haft, Anna Neovesky, Gabriel Reimers: <a href="https://www.fdm.uni-hamburg.de/en/ueber-uns/a-nachrichten/aktivitaeten/forge16/praesentationen.html">Digitale Nachhaltigkeit von Forschungsanwendungen durch Microservices</a> - Vortrag, FORGE 2016, Hamburg.</li>
			</ul>



			<h3>Lizenz</h3>
				<p>IncipitSearch wurde an der <a href="http://www.digitale-akademie.de/" title="Digitale Akademie" target="_blank">Digitalen Akademie</a> der
					<a href="http://www.adwmainz.de" title="Akademie der Wissenschaften und der Literatur | Mainz" target="_blank">Akademie der Wissenschaften und der Literatur | Mainz</a> entwickelt und steht unter der MIT Lizenz.</p>
			<h4>Beteiligte</h4>
			<a href="http://www.adwmainz.de/mitarbeiter/profil/anna-neovesky.html">Anna Neovesky, M.A.</a> (Idee, Konzept, Anwendungssentwicklung, Datenverarbeitung)<br>
			Dipl.-Inf. Gabriel Reimers (Idee, Konzept, Anwendungssentwicklung)<br>
			<a href="orcid.org/0000-0002-8111-6405">Frederic von Vlahovits, M.A.</a> (Frontend-Entwicklung, Design)<br>
			<a href="http://www.adwmainz.de/mitarbeiter/profil/prof-torsten-schrade.html">Prof. Torsten Schrade</a> (Metadatenschema, LOD, DevOps)<br>
		</div>
	</section>
</div>
{% endblock %} {# end pageContent #}