{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block pageContent %}
	<div class="container">
		<h2>Über IncipitSearch</h2>
		<p>IncipitSearch ist eine Suchmaschine für Noten-Incipits verschiedener Repositorien. Urpsrünglich entwickelt,
			um die Incipits des Werkverzeichnisses der
			<a href="http://www.gluck-gesamtausgabe.de/" title="Gluck-Gesamtausgabe" target="_blank">Gluck-Gesamtausgabe</a> zu
			indizieren, ist inzwischen zusätzlich der Katalog von
			<a href="https://opac.rism.info/" title="RISM" target="_blank">RISM</a> erschlossen. Ziel ist es weitere Repositorien
			anzubinden, um eine noch umfangreichere, globale Suche nach Notenmaterial, sowohl aus Quellen als auch aus
			Editionen zu ermöglichen.</p>

		<p>Mittels einer bequemen Eingabe über die Klaviatur können Suchabfragen erzeugt werden. <a
					href="http://www.iaml.info/plaine-easie-code" title="Plaine & Easie Code" target="_blank">Plaine & Easie Code</a> kommt
				als Standardsyntax der Notencodierung zum Einsatz und kann daher auch direkt in die Suchzeile eingegeben
				werden.</p>


		<h3>Lizenz und Mitwirkung</h3>
		<p>IncipitSearch wurde von <a href="https://github.com/annaneo" title="annaneo" target="_blank">Anna Neovesky</a> und <a
					href="https://github.com/greimers" title="greimers" target="_blank">Gabriel Reimers</a> an der <a href="http://www.digitale-akademie.de/" title="Digitale Akademie" target="_blank">Digitalen Akademie</a> der
			<a href="http://www.adwmainz.de" title="Akademie der Wissenschaften und der Literatur | Mainz" target="_blank">Akademie der Wissenschaften und der Literatur | Mainz</a> entwickelt und steht unter der MIT Lizenz.</p>

		<a href="https://github.com/digicademy/incipitSearch" target="_blank"><i class="fa fa-github fa-2x"></i></a>



	</div>

{% endblock %} {# end pageContent #}