<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>IncipitSearch</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600|Lato" rel="stylesheet" type="text/css">
        <link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="/public/css/normalize.css">
        <link rel="stylesheet" href="/public/css/skeleton.css">
        <link rel="stylesheet" href="/public/css/style.css">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="/public/img/favicon.png">

        <!-- Scripts
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/public/js/common.js"></script>

    {% endblock %}

</head>

<body>

<!--Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header id="header">
    <div class="container">
        <div class="one-third column">
            <a href="{{ path_for('index') }}"><h1>IncipitSearch</h1></a>
            <i id="nav-button" class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="two-thirds column">
            <nav id="nav" >
                <ul>
                    <li><a href="{{ path_for('about') }}">About</a></li>
                    <li><a href="{{ path_for('impressum') }}">Impressum</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</header>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block pageContent %}
    <div class="container">
        <div class="row">
            <div class="one-half column" style="margin-top: 25%">
                <h4>Basic Page</h4>
                <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to
                    add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton
                        documentation</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}


<!--Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer id="footer">
    <div class="container">
        <div class="one-half column">
            <a href="http://www.adwmainz.de/" target="_blank"><img class="logo" src="/public/img/LogoAdW.png" alt="Logo ADW"/></a>
        </div>
        <div class="one-half column adress">
            <p><a href="http://www.adwmainz.de/" target="_blank">Akademie der Wissenschaften und der Literatur | Mainz</a></p>
            <p><a href="https://www.google.de/maps/place/Akademie+der+Wissenschaften+und+der+Literatur/@49.9785891,8.2590733,13z/" target="_blank">Geschwister-Scholl-Straße 2<br/>55131 Mainz</a></p>
            <p><a href="https://twitter.com/digicademy"><i class="fa fa-twitter"></i></a><a href="https://github.com/digicademy" target="_blank"><i class="fa fa-github"></i></a><a href="http://www.digitale-akademie.de/" target="_blank">Digitale Akademie</a></p>
        </div>
    </div>
    </div>
</footer>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>
