{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block pageContent %}
	<div class="wrapper style1">
		<section id="main" class="container">

		{% include "contact-partial.twig" %}

		</section>
	</div>
{% endblock %} {# end pageContent #}