{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block pageContent %}
	<div class="wrapper style1">
		<section id="main" class="container">
			<div class="box">
				<h2>Impressum</h2>
				<h3>Verwendete Software und Standards</h3>


				<p>Die zugrundeliegende Software IncipitSearch wurde von <a href="https://github.com/annaneo"
																			target="_blank">Anna Neovesky</a> und <a
							href="https://github.com/greimers" target="_blank">Gabriel Reimers an der <a
								href="http://www.digitale-akademie.de/" title="Digitale Akademie" target="_blank">Digitalen
							Akademie</a> der
						<a href="http://www.adwmainz.de" title="Akademie der Wissenschaften und der Literatur | Mainz"
						   target="_blank">Akademie der Wissenschaften und der Literatur | Mainz</a> entwickelt und
						steht unter der MIT Lizenz. Die virtuelle Klaviatur für die Sucheingabe ist mit <a
							href="https://github.com/annaneo/pianoKeyboard" target="_blank">pianoKeyboard</a>
					realisiert. Zur Anzeige der Musikincipits nutzt IncipitSearch das <a
							href="http://www.verovio.org/javascript.xhtml" target="_blank">Verovio JavaScript
						Toolkit</a>. Verovio wird entwickelt durch das
					<a href="http://rism-ch.org/" target="_blank">Swiss RISM Office</a> und wird unterstützt durch den
					Swiss National Science Foundation. Verovio steht unter der
					<a href="https://github.com/rism-ch/verovio">LGPLv3 license</a>. Für die Codierung der Musik-Incipits kommt <a href="http://www.iaml.info/plaine-easie-code"
																 target="_blank">Plaine & Easie Code</a> als
					Standardsyntax zur Notenkodierung zum Einsatz.
				</p>

				<h3>Herausgeber</h3>
				<p>Akademie der Wissenschaften und der Literatur Mainz <br>Geschwister-Scholl-Straße 2<br>D-55131 Mainz
					<br>Telefon:
					06131/577-0<br>Telefax: 06131/577-111<br><a href="mailto:generalsekretariat@adwmainz.de">generalsekretariat@adwmainz.de</a>
				</p>
				<p>Die Akademie der Wissenschaften und der Literatur Mainz ist eine Körperschaft des öffentlichen
					Rechts.
					Vertretungsberechtigt ist der Präsident, Prof. Dr.-Ing. Reiner Anderl.</p>

				<h3>Urheberrecht</h3>
				<p>Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und
					Leistungsschutzrecht. Jede
					vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen
					schriftlichen
					Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere für
					Vervielfältigung,
					Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken
					oder anderen
					elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet.
					Die
					unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht
					gestattet und
					strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und
					nicht
					kommerziellen Gebrauch ist erlaubt.</p>
				<h3>Haftungsausschluss</h3>
				<p>Die Inhalte dieses Internetangebotes wurden sorgfältig geprüft und nach bestem Wissen erstellt. Eine
					Haftung oder
					Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten
					Informationen und
					Daten ist jedoch ausgeschlossen. In keinem Fall wird für Schäden, die sich aus der Verwendung der
					abgerufenen
					Informationen ergeben, eine Haftung übernommen.</p>
				<h3>Links</h3>
				<p>Wir haben keinen Einfluss auf den Inhalt der von dieser Seite verlinkten externen Internetseiten und
					sind für
					diese auch nicht verantwortlich. Eine Prüfung bei der Verlinkung ergab keine strafbaren Inhalte auf
					diesen
					Seiten. Alle Linkangaben ohne Gewähr. Seitenaufrufe externer Seiten über diese Links erfolgen auf
					eigene Gefahr.
					Dies gilt für alle Links auf dieser Internetseite.</p>
				<h3>Datenschutz</h3>
				<p>Durch den Besuch dieser Website werden Informationen über den Zugriff (Datum, Uhrzeit, betrachtete
					Seite)
					gespeichert werden. Diese Daten gehören nicht zu den personenbezogenen Daten, sondern sind
					anonymisiert. Sie
					werden ausschließlich zu statistischen Zwecken ausgewertet. Eine Weitergabe an Dritte, zu
					kommerziellen oder
					nichtkommerziellen Zwecken, findet nicht statt.
				</p>
				<p>Die Erfassung der Daten erfolgt durch Piwik. Dieser Analysedienst verwendet Cookies, um in den
					verwendeten
					Einstellungen Nutzerdaten in anonymisierter Form zu erfassen und daraus Statistiken zu erstellen.
					Die Zulassung
					von Cookies kann nutzerseitig in den Browsereinstellungen deaktiviert werden, wodurch die
					entsprechende
					Datenerhebung unterbunden wird.
				</p>
				<p>Wir weisen ausdrücklich darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation
					per E-Mail)
					Sicherheitslücken aufweisen und nicht lückenlos vor dem Zugriff durch Dritte geschützt werden
					kann.</p>
				<h3>Seitenhinweise</h3>
				<p>Diese Seiten wurden in weiten Teilen gemäß den Richtlinien für barrierefreie Internetmedien des World
					Wide Web
					Consortiums entwickelt. Die dazu verwendeten Techniken machen die Seite für alle Ausgabemedien, die
					HTML
					interpretieren können, zugänglich.
				</p>
				<p>Sollten Sie Probleme bei der Wiedergabe der Seiten haben (Seitenstruktur, grafische Darstellung,
					Anordnung der
					Navigation u.ä.), so könnte dies daran liegen, dass Sie einen älteren Browser benutzen, der die
					heute gängigen
					Techniken nicht oder nur fehlerhaft interpretieren kann.
				</p>
				<p>Alle in unten stehender Liste aufgeführten Browser sind in der Lage, unsere Website optimal
					darzustellen. Sollte
					es trotzdem Probleme in der Darstellung oder Funktionalität dieser Webseite geben, bitten wir Sie um
					eine kurze
					Nachricht. Wir werden versuchen, Ihnen möglichst schnell und hilfreich zu antworten.</p>
			</div>
		</section>
	</div>
{% endblock %} {# end pageContent #}
