{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html

    The purpose of the OperationResults template is to display output of php classes.
    PHP and slim seem not to be able to log to console for most operations
    so we collect output manually and display it on a separate page (this page).

 #}

{% extends "base.twig" %}

{% block title %}Incipt Crawler Control Panel{% endblock %}


{% block pageContent %}

    <div class="container">

        <h1>Crawler Results</h1>


        {% for log in logs %}

            <pre><code>
                {{ log }}
            </code></pre>
            

        {% endfor %}
    </div><!-- end container -->

{% endblock %} {# end pageContent #}


