{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block pageContent %}
	<div class="wrapper style1">
		<section id="main" class="container">
			<div class="box">
				<h2>Datenschutzerklärung</h2>
				<p>Verantwortlich für die Datenverarbeitung des Webangebots ist die Akademie der Wissenschaften und der Literatur Mainz, Geschwister-Scholl-Straße 2, D-55131 Mainz, vertreten durch ihren Präsidenten, Prof. Dr.-Ing. Reiner Anderl.</p>
				<h5>Es bestehen folgende Kontaktmöglichkeiten:</h5>
				<p>Präsident der Akademie der Wissenschaften und der Literatur | Mainz <br />Geschwister-Scholl-Str. 2 <br />55131 Mainz <br />Tel. 0049 6131 577 200 <br />Fax. 0049 6131 577 206<br /> email: <a href="mailto:praesidialbuero@adwmainz.de">praesidialbuero@adwmainz.de</a></p>
				<h5>Kontaktdaten des/der Datenschutzbeauftragten:</h5>
				<p>Akademie der Wissenschaften und der Literatur | Mainz <br />Der Datenschutzbeauftragte <br />Geschwister-Scholl-Str. 2 <br />55131 Mainz <br />email: <a href="mailto:datenschutz@adwmainz.de">datenschutz@adwmainz.de</a></p>
				<h3>Erfassung allgemeiner Informationen</h3>
				<p>Durch den Besuch dieser Website werden Informationen über den Zugriff (IP-Adresse, Datum, Uhrzeit, betrachtete Seite) gespeichert. Diese Daten (Server-Logfiles) lassen keine Rückschlüsse auf Ihre Person zu. Diese Informationen fallen bei der Nutzung von Webangeboten zwingend an und werden sowohl für die korrekte Wiedergabe der Website sowie der Systemsicherheit genutzt. Für folgende Zwecke werden sie verarbeitet: Sicherstellung eines problemlosen Verbindungsaufbaus sowie der reibungslosen Nutzung der Website, Sicherstellung der Systemintegrität und Abwehr von Angriffen.</p>
				<p>Die Verarbeitung der personenbezogenen Daten liegt im berechtigen Interesse aus den vorgenannten Zwecken der Datenerhebung. Empfänger der Daten sind ausschließlich die verantwortliche Stelle und ggf. Auftragsverarbeiter.</p>
				<p>Anonymisiert werden diese Daten ausschließlich zu statistischen Zwecken ausgewertet. Eine Weitergabe an Dritte, zu kommerziellen oder nichtkommerziellen Zwecken, findet nicht statt.<br />Wir weisen ausdrücklich darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen und nicht lückenlos vor dem Zugriff durch Dritte geschützt werden kann.</p>
				<h3>Statistische Auswertung</h3>
				<p>Diese Website benutzt Matomo, eine Open-Source-Software zur statistischen Auswertung der Besucherzugriffe. Matomo verwendet sog. “Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieses Internetangebotes werden auf dem Server des Anbieters in Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert.<br />Durch entsprechende Einstellungen an Ihrem Browser können Sie das Abspeichern von Cookies auf ihrem Rechner verhindern, jedoch könnte so das Nutzungsangebot der Webseite eingeschränkt werden.</p>
				<h3>Webfonts</h3>
				<p>Um die Ladezeit der Seiten so gering wie möglich zu halten nutzen wir einen externen Service von Google Inc., Google Fonts. Die Einbindung der Schriften erfolgt über einen Server von Google in den USA. Folgende Informationen werden dabei u. a. an Google übermittelt: aktueller Seitenaufruf und IP-Adresse. Nähere Informationen hierüber finden Sie auf folgender Seite:<br />
				<a href="https://policies.google.com/privacy" title="URL zu Googles Datenschutzerklärung" target="_blank">https://policies.google.com/privacy</a><br />
				Zur Verwaltung Ihrer Daten im Zusammenhang mit Google-Produkten können Sie sich auf folgender Seite ausführlich informieren:
				<a href="https://support.google.com/accounts/answer/3024190" title="URL zu Googles FAQ" target="_blank">https://support.google.com/accounts/answer/302419</a></p>
				<h3>Auskunft, Berichtigung, Löschung und Beschwerdemöglichkeiten</h3>
				<p>Sie haben nach DSGVO das Recht auf Auskunft über Sie betreffende Daten, deren Berichtigung sowie sofortige Löschung. Wenn Sie der Auffassung sind, dass Ihre Rechte gem. DSGVO verletzt werden, wenden Sie sich bitte an den Datenschutzbeauftragten der Akademie der Wissenschaften und der Literatur Mainz. Er wird Ihr Anliegen innerhalb der gesetzlichen Frist prüfen und Ihnen hiervon Mitteilung machen. Sofern keine Abhilfe erfolgt, besteht die Möglichkeit der Beschwerde bei der für die Akademie in Datenschutz-Angelegenheiten zuständigen Aufsichtsbehörde, dem Datenschutzbeauftragten des Landes Rheinland-Pfalz.</p>
			</div>
		</section>
	</div>
{% endblock %} 
{# end pageContent #}
