{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block pageContent %}
<div class="wrapper style1">
	<section id="main" class="container">
		<div class="box">
			<h2>Repositorien</h2>
			<h3><a href="http://www.gluck-gesamtausgabe.de" title="Gluck-Gesamtausgabe" target="_blank">Gluck-Gesamtausgabe</a></h3>
			<span class="image fit"><img src="/public/img/Screen_Gluck-Gesamtausgabe.png" alt="Screenshot von http://gluck-gesamtausgabe.de/"></span>
			<p>Das digitale, thematisch-systematische Verzeichnis sämtlicher Werke von Christoph Willibald Gluck (GluckWV-online) ist ein Teil der Gluck-Gesamtausgabe (GGA) und stützt sich auf die Ergebnisse der Editionsarbeit und der jahrzehntelangen Forschung des Projekts. Ziel ist die vollständige und systematische Auflistung aller Kompositionen von Gluck in ihren sämtlichen Fassungen sowie die Zusammenstellung wichtiger Daten zur Entstehung, Uraufführung, Erstausgabe, Rezeption einzelner Werke mit entsprechenden Quellennachweisen.
			</p>
		</div>
	</section>
</div>
{% endblock %} {# end pageContent #}