{#
    This template inherits from base.twig. See twig documentation: http://twig.sensiolabs.org/doc/templates.html
 #}

{% extends "base.twig" %}

{% block pageContent %}
<div class="wrapper style1">
	<section id="main" class="container 75%">
		<div class="box">
			<h2>Repositorien</h2>
			<p>Aktuell in IncipitSearch aggregierte Repositorien, nach Zeitpunkt der Einbindung.</p>
		</div>

		<div class="box">
			<h3><a href="http://www.gluck-gesamtausgabe.de" title="Gluck-Gesamtausgabe" target="_blank">Gluck-Gesamtausgabe</a></h3>
				<div class="row">
					<div class="6u 6u(normal)">
						<span class="image fit"><a href="http://www.gluck-gesamtausgabe.de" title="Gluck-Gesamtausgabe" target="_blank"><img src="/public/img/Screen_Gluck-Gesamtausgabe.png" alt="Screenshot von http://gluck-gesamtausgabe.de/"></a></span>
					</div>
					<div class="6u 6u(normal)">
						<p>Das digitale, thematisch-systematische Verzeichnis sämtlicher Werke von Christoph
							Willibald Gluck (GluckWV-online) ist ein Teil der Gluck-Gesamtausgabe (GGA) und
							stützt sich auf die Ergebnisse der Editionsarbeit und der jahrzehntelangen Forschung
							des Projekts. Ziel ist die vollständige und systematische Auflistung aller Kompositionen
							von Gluck in ihren sämtlichen Fassungen sowie die Zusammenstellung wichtiger Daten zur
							Entstehung, Uraufführung, Erstausgabe, Rezeption einzelner Werke mit entsprechenden
							Quellennachweisen.</p>
					</div>
				</div>
			</div>

		<div class="box">
			<h3><a href="http://opac.sbn.it/opacsbn/opac/iccu/free.jsp" title="SBN - Catalogo del Servizio Bibliotecario Nazionale" target="_blank">Catalogo del Servizio Bibliotecario Nazionale</a></h3>
			<div class="row">
				<div class="6u 6u(normal)">
					<span class="image fit"><a href="http://opac.sbn.it/opacsbn/opac/iccu/free.jsp" title="Catalogo del Servizio Bibliotecario Nazionale" target="_blank"><img src="/public/img/Screenshot_SBN.png" alt="Screenshot von http://opac.sbn.it/opacsbn/opac/iccu/free.jsp/"></a></span>
				</div>
				<div class="6u 6u(normal)">
					<p>Der Servizio Bibliotecario Nazionale (SBN) ist der Bibliotheksverbung der wissenschaftlichen
						Bibliotheken in Italien. Der Vebundkatalog  OPAC SBN enthält Einträge zu über 15.000 musikalischen
						Quellen.</p>
				</div>
			</div>
		</div>

		<div class="box">
			<h3><a href="http://reader.digitale-sammlungen.de/de/fs1/object/display/bsb10624209_00003.html" title="Breitkopf Katalog, 1766" target="_blank">Breitkopf Katalog, 1766 - Sinfonie von Johann Agrell</a></h3>
			<div class="row">
				<div class="6u 6u(normal)">
					<span class="image fit"><a href="http://reader.digitale-sammlungen.de/de/fs1/object/display/bsb10624209_00003.html" title="Catalogo del Servizio Bibliotecario Nazionale" target="_blank"><img src="/public/img/Digitalisat_Breitkopf_Katalog_1766.png" alt="Screenshot von http://opac.sbn.it/opacsbn/opac/iccu/free.jsp/"></a></span>
				</div>
				<div class="6u 6u(normal)">
					<p></p>
				</div>
			</div>
		</div>

	</section>
</div>
{% endblock %} {# end pageContent #}